<html>
	<head>
		<meta charset="utf-8">
		<title>dia-log</title>
		<link rel="stylesheet" href="{{pikaday_url}}/css/pikaday.css">
	</head>
	<body>
		<p>Add blood sugar boyo</p>
		<form name="add_blood" method="post" action="{{ api_url }}/blood/add/">
			<label for="date">Date</label>
			<input type="text" id="datepicker">
			<br>
			<label for="date">Time</label>
			<input type="text" id="timepicker">
			<br>
			<input type="text" name="date" id="date" value="-1">
			<label for="mmol">Blood Glucose (in mmol/L)</label>
			<input type="text" name="mmol" size="6">
			<br>
			<label for="user">Username</label>
			<input type="text" name="user" size="32">
			<br>
			<label for="pass">Password</label>
			<input type="password" name="pass" size="32">
			<br>
			<input type="submit" value="Submit">
		</form>
		<script src="{{ pikaday_url }}/pikaday.js"></script>
		<script>
			const today = new Date();
			var picker = new Pikaday({
				field: document.getElementById('datepicker'),
				onSelect: function() {
					const datePicker = document.getElementById('datepicker');
					const date = datePicker.value;
					const timePicker = document.getElementById('timepicker');
					const time = timePicker.value;
					var fullDate = document.getElementById('date');
					fullDate.value = date + " " + time;
				}
			});
		</script>
	</body>
</html>
