<html>
	<head>
		<meta charset="utf-8">
		<title>dia-log</title>
		<link rel="stylesheet" href="{{pikaday_url}}/css/pikaday.css">
	</head>
	<body>
		<p>Add blood sugar boyo</p>
		<form name="add_blood" method="post" action="{{ api_url }}/blood/add/">
			<label for="date">Date</label>
			<input type="text" id="datepicker">
			<br>
			<label for="date">Hour (0-23)</label>
			<input type="number" id="hour">
			<br>
			<label for="date">Minute (0-59)</label>
			<input type="number" id="minute">
			<br>
			<input type="text" name="date" id="date" value="-1">
			<label for="mmol">Blood Glucose (in mmol/L)</label>
			<input type="text" name="mmol" size="6">
			<br>
			<label for="user">Username</label>
			<input type="text" name="user" size="32">
			<br>
			<label for="pass">Password</label>
			<input type="password" name="pass" size="32">
			<br>
			<input type="submit" value="Submit">
		</form>
		<script src="{{ momentjs_url }}/moment.js"></script>
		<script src="{{ pikaday_url }}/pikaday.js"></script>
		<script>
			const today = new Date();
			const hourInput = document.getElementById('hour');
			hourInput.setAttribute('value', moment().format('hh'));
			const minuteInput = document.getElementById('minute');
			minuteInput.setAttribute('value', moment().format('mm'));
			const dateInput = document.getElementById('datepicker');
			dateInput.setAttribute('value', moment().format('YYYY-MM-DD'));
			var picker = new Pikaday({
				format: "YYYY-MM-DD",
				defaultDate: moment().format("YYYY-MM-DD"),
				field: dateInput,
				onSelect: function() {
					console.log(this.getMoment());
					const datePicker = document.getElementById('datepicker');
					const date = datePicker.value;
					var fullDate = document.getElementById('date');
					fullDate.value = date + " " + hourInput.value + ":" + minuteInput.value;
				},
			});
		</script>
	</body>
</html>
